<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Learning Journal</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

    <header>
      <h1><a href="{{ request.route_url('home') }}">Learning Journal</a></h1>

      <nav>
        <ul>
          <li {% if current=='list' %}class="current"{% endif %}><a href="{{ request.route_url('home') }}">Entries</a></li>

        {% if not request.authenticated_userid %}
          <li {% if current=='login' %}class="current"{% endif %}><a href="{{ request.route_url('login') }}">log in</a></li>
        {% else %}
          <li {% if current=='add' %}class="current"{% endif %}><a href="{{ request.route_url('entry_form') }}">New Entry</a></li>
          <li><a href="{{ request.route_url('logout') }}">log out</a></li>
        {% endif %}

        </ul>
      </nav>
    </header>

    {% block body %}{% endblock %}

    <footer>
      <p>
        Learning Journal for the Python Development Accelerator<br>
        at <a href="https://www.codefellows.org">Code Fellows</a>
      </p>

      <hr>
      <p>&copy; 2015 Andrew Wilson</p>
    </footer>
  </body>
</html>
