{% extends "base.jinja2" %}
{% block body %}

    <form action="{{ request.route_url(current, entry_id=data.id) }}" method="POST">

      {% if error -%}
        <p class="error"><strong>Error</strong>: {{ error }}</p>
      {%- endif %}

      <h3>{{ current|capitalize }} Journal Entry</h3>

      <label for="entry_name">Entry title:</label>
      <input type="text" id="title" name="title" value="{{ data.title }}" autofocus required>

      <label for="entry_text">Entry text:</label>
      <textarea id="text" name="text" required>{{ data.text|safe }}</textarea>

      {% if data.created %}
        <p>Entry created on: {{ data.created }}</p>
      {% endif %}

      <input type="hidden" id="entry_id" name="entry_id" value="{{ data.id }}">

      <button type="submit">{{ current|capitalize }} Entry</button>

    </form>

{% endblock %}
