{% extends "base.jinja2" %}
{% block body %}

    <article>
      <h3>{{ data.title }}</h3>
      <h4 class="date">{{ data.created.strftime('%b. %d, %Y') }}</h4>

        {{ data.make_md(data.text)|safe }}

      <footer>
            {% if request.authenticated_userid %}
              <a href="{{ request.route_url('update', entry_id=data.id) }}">edit this entry</a> |
            {% endif %}

            Created on: {{ data.created }} | entry_id: {{ data.id }} |
            <a href="#top">top</a>
      </footer>

    </article>

{% endblock %}
