{% extends "base.jinja2" %}
{% block body %}
<section>

  <h3>Journal Entries</h3>

  {% for entry in entries %}
  <article class="entry" id="entry={{entry.id}}">

    <h3>
      <a href="{{ request.route_url('entry', entry_id=entry.id) }}">
        {{ entry.title }}
      </a>
    </h3>

    <h4 class="date">{{ entry.created.strftime('%b. %d, %Y') }}</h4>

    {{ entry.make_md(entry.text)|safe }}

  </article>

  {% else %}

  <p><em>No entries here so far</em></p>

  {% endfor %}

</section>
{% endblock %}

