{% extends "base.jinja2" %}
{% block body %}


  {% if error -%}
  <p class="error"><strong>Error</strong>: {{ error }}
  {%- endif %}
  <form action="{{ request.route_url('login') }}" method="POST">

    <h2>Login</h2>

      <label for="username">Username</label>
      <input type="text" name="username" id="username">

      <label for="password">Password</label>
      <input type="password" name="password" id="password">

      <input type="hidden" id="next_page" name="next_page" value="{{ next_page }}">

      <input type="submit" name="Login" value="Login">

  </form>

{% endblock %}
